USE [AuthDb];
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[cpf] [varchar](11) NULL,
	[guid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colaborador]    Script Date: 18/12/2025 15:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaborador](
	[id_colaborador] [int] IDENTITY(1,1) NOT NULL,
	[id_funcao] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[senha] [char](64) NOT NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[id_colaborador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcao_colaborador]    Script Date: 18/12/2025 15:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcao_colaborador](
	[id_funcao] [int] IDENTITY(1,1) NOT NULL,
	[funcao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Funcao_colaborador] PRIMARY KEY CLUSTERED 
(
	[id_funcao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Colaborador]  WITH CHECK ADD  CONSTRAINT [FK_Colaborador_Funcao_colaborador] FOREIGN KEY([id_funcao])
REFERENCES [dbo].[Funcao_colaborador] ([id_funcao])
GO
ALTER TABLE [dbo].[Colaborador] CHECK CONSTRAINT [FK_Colaborador_Funcao_colaborador]
GO
SET IDENTITY_INSERT [dbo].[Funcao_colaborador] ON 
INSERT [dbo].[Funcao_colaborador] ([id_funcao], [funcao]) VALUES (1, N'Administrador(a)')
INSERT [dbo].[Funcao_colaborador] ([id_funcao], [funcao]) VALUES (2, N'Cozinheiro(a)')
INSERT [dbo].[Funcao_colaborador] ([id_funcao], [funcao]) VALUES (3, N'Atendente')
SET IDENTITY_INSERT [dbo].[Funcao_colaborador] OFF
GO
